<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot - All Backend Services" type="CompoundRunConfigurationType">
    <toRun name="Spring Boot - Identity Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Patient Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Doctor Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Appointment Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Medical Record Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Billing Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - Notification Service" type="MavenRunConfiguration" />
    <toRun name="Spring Boot - API Gateway" type="MavenRunConfiguration" />
    <method v="2" />
  </configuration>
</component>
